div.main{
    display: flex;
    align-items: flex-start;/*eixo y*/
    justify-content: flex-end;
    width: auto;    
    margin: 40px 40px 300px 40px;
    /* background-color: rgb(255, 196, 0);  */
}


div.main div.listBooksReservation{
    display: flex;
    align-items: flex-start;/*eixo y*/
    justify-content: flex-start;/*eixo x*/
    flex-direction: column;
    
    padding-right: 30px;

    /* background-color: red;  */
}


div.main div.legendas{
    display: flex;
    align-items: flex-end;/*eixo x*/
    flex-direction: column;
    gap: 20px;
    width: 30%;
    position: relative;
 
    /* background-color: rgb(0, 255, 4);  */
}

div.main div.legendas h2 {
    color: #055904;
    font-size: 35px;
}

div.main div.legendas span p {
    display: flex;
    align-items: center;

    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

div.main div.legendas span p:nth-child(1) {
    color: #EA2727;
}

div.main div.legendas span p:nth-child(2) {
    color: #055904;
}


div.main div.legendas p i{
    font-size: 20px;
}



div.semReservas, div.loading{
    display: flex;
    flex-direction: column;
    align-items: center;/*eixo y*/
    justify-content: flex-start;
    width: 100%;
    height:110dvh;
}

div.loading{
    margin-top: 35dvh;
}

div.semReservas{
    margin-top: 2dvh;
}
div.noReservationsFound{
    height: 70dvh;
}
div.noReservationsFound img{
    width: 100%;
    height: 120%;
    position: relative;
    top: -80px;
}
div.semReservas .txtNoReservationsFound, div.semReservas small{
    font-family: 'Nunito', sans-serif;
    color: #263238;
    text-transform: uppercase;
    text-align: center;
}
div.semReservas .txtNoReservationsFound{
    font-size: 1.5em;
}

/* Adicione estas regras ao arquivo CSS existente */

/* Estilo para quando há filtro (bibliotecário) */
div.main.comFiltro {
  height: auto;
  min-height: 210vh;
}

/* Ajuste para a lista de reservas quando há filtro */
div.main.comFiltro div.listBooksReservation {
  height: auto;
  min-height: 150dvh;
}

/* Mensagem de nenhum resultado */
.semResultados {
  text-align: center;
  padding: 40px;
  color: #666;
}


div.divContainerBtnFiltrar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/**********************************************************************/

@media (max-width: 1120px) {

    div.main{
        display: flex;       
        flex-direction: column-reverse;
        width: auto;
    }    

    div.main div.listBooksReservation{
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
        height: 150dvh !important;
        width: 100% !important;
        margin-bottom: 200px;
    }

    div.divContainerBtnFiltrar{
        justify-content: flex-start;
    }
    div.main div.legendas{
        align-items: flex-start;
        width: 100%;
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 16px;
        background-color: #05590416;
    }

}



@media (max-width: 380px) {


    div.main div.legendas {
        width: 95%;
    }
    

    div.main div.legendas h2 {
        font-size: 30px;
    }
    div.main div.legendas span p {
        font-size: 13px;

    }
    div.main div.legendas p i{
        font-size: 15px;
    }

    
}


@media (max-width: 340px) {
    div.main div.legendas h2 {
        font-size: 23px;
    }
    div.main div.legendas span p {
        font-size: 10px;

    }
    div.main div.legendas p i{
        font-size: 13px;
    }
}



/* Responsividade para o filtro */
@media (max-width: 1120px) {
  div.main.comFiltro {
    flex-direction: column;
  }
}


