
.sectionRedirect{
    width: 100%;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}
.sectionRedirect img {
    width: 100%;
    height: 73%;
}

.txtRedirect, .sectionRedirect small{
    font-family: 'Nunito', sans-serif;
    color: #263238;
    text-transform: uppercase;
    text-align: center;
}
.txtRedirect{
    font-size: 1.5em;
}
.sectionRedirect small{
    font-size: 1em;
}

/*
#055904
*/