.divDeletarConta {
    margin: 60px; 
    color: #EA2727;
}
.divDeletarConta h2{
    font-size: 30px;
    margin-bottom: 60px;
}

.divDeletarConta p.support{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#EA2727;
    text-align: center;
    font-size: 18px;
    gap:5px;
}

.divDeletarConta span.italic{
    font-style: italic;
}

.divDeletarConta p.support a{
    color: inherit;       
    text-decoration: none; 
    cursor: pointer; 
}

.divDeletarConta div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: justify;
    width: 100%;
    height: auto;
    padding: 0px 30px; 
    gap:25px;
    font-size: 18px;
    margin-bottom: 60px;
}

.divDeletarConta div ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px;
}

.divDeletarConta div p ol li{
    margin-bottom: 10px;
}

.divDeletarConta .divBotaoDeletarConta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.divDeletarConta .divBotaoDeletarConta button.buttonTrash{
    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    font-size: 20px;

    padding: 15px;
    border-radius: 16px;
    border-width: 0;
    color: #fff;
    background-color: #EA2727;

    cursor: pointer;
 
}
.divDeletarConta .divBotaoDeletarConta button.buttonTrash i{
    margin-left: 20px;
    font-size: 1.5rem;
}


/*Dialog*/
.dialog {
    width: 80vw;
    top:50px;
    border-color: #EA2727 !important;
}

.dialog div:nth-child(1) {
    background-color: #EA2727;
    border-bottom-color: #EA2727;
}
.dialog div:nth-child(1) div:nth-child(1) {
    text-align: center !important;
    color: #FFF;   
}

.dialog div:nth-child(1) div:nth-child(2){
    background-color: #EA2727 !important;
}

.dialog div:nth-child(1) div:nth-child(2) button {
    color: #FFF;
}

.dialog div:nth-child(1) div:nth-child(2) button:focus {
    outline: none;
    color: #FFFF !important;
    box-shadow:  0px 0px 0px 3px #f9979797;
}

.dialog div:nth-child(1) div:nth-child(2) button:hover {
    color: #FFF !important;
}



.dialog div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    background-color: #FFF;
    color: #ff0000;
}


.dialog div:nth-child(2) form {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.dialog div:nth-child(2) form input, 
.dialog div:nth-child(2) form button{
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
    outline: none;
    appearance: none;
    font: inherit;
    color: inherit;
  }
  .dialog div:nth-child(2) form input{
    height: 2rem;
    width:auto;
    background-color: #fffafa;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    border: 1px solid #EA2727 ;
    color: #000;
  }
  .dialog div:nth-child(2) form input:focus{
    box-shadow:  0px 0px 0px 3px #f8434393;
  }
  .dialog div:nth-child(2) form button{
    color: #ffffff;
    background-color: #EA2727;
    padding: 0.4rem 2rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
  }
  .dialog div:nth-child(2) form button:hover{
    color: #EA2727;
    background-color: #fff;
    box-shadow:  0px 0px 0px 3px #f8434393;

  }





/******************************************************************/
@media (max-width: 810px) {
    .divDeletarConta {
        text-align: center;
        margin: 30px; 
    }
  }

  @media (max-width: 570px) {
    .divDeletarConta {
        margin: 30px 5px; 
    }
    .divDeletarConta div p:nth-child(3){
        padding: 0px 35px;
    }
    .divDeletarConta p.support{
        flex-direction: column;
    }
    
  }