.containerSettingsButton {
    display: flex;
    justify-content: flex-end;
}

.settingsButton {
    margin-top: 10px !important;
    color: #ffffff !important;
    font-size: large !important;
    font-weight: 500 !important;
}
.settingsButton:hover {
    background-color: #ffffff !important;
    color: #055904 !important;
}
