div.mainUsuariosNaoValidados{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 70vh;
    overflow-y: auto;
    margin: 20px 0 20px 0;
}
/* div.divCardsUsuariosNaoValidados{
    
} */
div.divCardsUsuariosNaoValidados .cardUsuariosNaoValidados {
    display: flex;
    flex-direction: column;
}



.divCardsUsuariosNaoValidados button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #055904;
    color: #fff;
    border: 2px solid #055904;
    border-radius: 16px;
    padding: 8px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 20px 0 rgba(0, 0, 0, 0.12);
}
.divCardsUsuariosNaoValidados button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #055904;
}